<!doctype html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bem vindos ao EstimaTI</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-dark bg-danger">
    <a class="navbar-brand" href="/planningpoker">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-suit-club-fill" viewBox="0 0 16 16">
            <path d="M11.5 12.5a3.493 3.493 0 0 1-2.684-1.254 19.92 19.92 0 0 0 1.582 2.907c.231.35-.02.847-.438.847H6.04c-.419 0-.67-.497-.438-.847a19.919 19.919 0 0 0 1.582-2.907 3.5 3.5 0 1 1-2.538-5.743 3.5 3.5 0 1 1 6.708 0A3.5 3.5 0 1 1 11.5 12.5z"/>
        </svg>
        EstimaTI
    </a>
    <a class="navbar-text" href="/planningpoker/login">
        Login
    </a>
</nav>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/planningpoker">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Cadastro</li>
    </ol>
</nav>
<div class="container">
    <div class="card mt-3">
        <div class="card-body">
            <form th:action="@{/planningpoker/cadastro}" th:object="${usuario}" method="post">
                <div class="form-group">
                    <label th:for="nome">Nome</label>
                    <input type="text" class="form-control" th:field="*{nome}" placeholder="Seu nome completo">

                    <label th:for="email">Endereço de email</label>
                    <input type="email" class="form-control" th:field="*{email}" placeholder="Seu email">
                    <small id="emailHelp" class="form-text text-muted">Nunca vamos compartilhar seu email, com ninguém.</small>

                    <div class="row">
                        <div class="col col-lg-2">
                            <label th:for="dataNascimento">Data de nascimento:</label>
                            <input type="date" class="form-control" th:field="*{dataNascimento}">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-danger mt-3">Enviar</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
